html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}
#today-weather {
  background-color: #00ff80;
}
.custom-forecast {
  background-color: #00ff80 !important;
  color: #333 !important;
}

.custom-header {
  text-align: center;
  background-color: #0080ff;
  color: #fff;
}

.list-group-item {
  cursor: pointer;
}

#icon {
  border: 2px solid #ccc; 
  border-radius: 5px; 
}

footer {
  background-color: #0080ff; 
  color: white; 
  text-align: center;
  padding: 20px 0; 
}